table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

.args-table {
    width: 100%;
}

.txt-argstr {
    display: block;
    width: 100%;
}

.btn-result {
    width: 100%;
    height: 30px;
    margin: 5px;
}