<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <textarea id="txtArgStr" class="txt-argstr" rows="5"></textarea>
        <button id="btnResult" class="btn-result">Result</button>
        <table id="args-table-1" class="args-table">
            <th>KEY</th>
            <th>VALUE</th>
        </table>
    </body>
</html>